/*屏幕宽度等于视口*/
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/*reset*/
html, button, input, select, textarea {color: #333; }
html {font-size: 1em; line-height: 1.4; }
::-moz-selection {background: #b3d4fc; text-shadow: none; }
::selection {background: #b3d4fc; text-shadow: none; }
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
audio, canvas, img, video {vertical-align: middle; }
fieldset {border: 0; margin: 0; padding: 0; }
textarea {resize: vertical; } .ir {background-color: transparent; border: 0; overflow: hidden; *text-indent: -9999px; }
input,button,select,textarea,a{outline:none;} 
input:focus,button:focus,select:focus,textarea:focus,a:focus{outline:none;}

/*oo*/
.ir:before {content: ""; display: block; width: 0; height: 150%; }
.hidden {display: none;}
.invisible {visibility: hidden; }
.clearfix:before,.clearfix:after {content: " "; display: table; }
.clearfix:after {clear: both; }
.clearfix {*zoom: 1; }
.border_b{ border-bottom: 1px solid #e5e5e5;}
.bc{margin-left: auto; margin-right: auto;}
.cb{clear: both;}
.hideText{ text-indent: -9000em;}
.absolute{ position: absolute;}
.relative{ position: relative;}
.imgBlock{ display: block; margin: 0; padding: 0;}
.fl{float: left;}
.fr{float: right;}
.noPadding{padding: 0;}
.noMargin{margin: 0;}
.tc{text-align: center;}
.wrap100{width: 100%;}

/*_width:expression((document.documentElement.clientWidth||document.body.clientWidth)<1280?"1280":"");overflow:hidden;*/

/*头部*/
#header{ height: 60px; position: relative; z-index: 100}
.nav{ position: absolute; right: 16%; top: 0;}
.nav a{ display: inline-block; border-top: 4px solid #fff; padding: 0 12px; font:0.875em/3em microsoft yahei; color: #888; text-decoration: none; transition:border .3s;}
.nav a:hover,.nav .active{ border-top: 4px solid #23d4c6; transition:border .3s;}

@media all and (max-width: 960px){
	#header{ height: 100%; position: absolute; right: 0; top: 0;}
	.nav_btn{ width: 35px; height: 26px; border: 1px solid #ccc; background: #eee; border-radius: 2px; position: absolute; top: 8px; right: 8px; z-index: 2; cursor: pointer;}
	.nav_btn i{ display: block; width: 70%; height: 2px; margin: 5px auto; background: #ccc;}
	.nav{ width: 120px; height: 100%;  right: -120px; top: 0; background: #3fc6bb; background: rgba(49,185,174,.8); padding:48px 0 0 0; text-align: right;
		-webkit-transition: right .6s;
		-moz-transition: right .6s;
		-ms-transition: right .6s;
		-o-transition: right .6s;
		transition: right .6s;
	}
	.nav.show{ display: block; opacity: 1; right: 0;
		-webkit-transition: right .6s;
		-moz-transition: right .6s;
		-ms-transition: right .6s;
		-o-transition: right .6s;
		transition: right .6s;
	}
	.nav a{ display: block; border: 0; border-top:1px solid #78d7d0 !important; height: auto; padding: 5px 8px; color: #fff; font: 1em/2.2em microsoft yahei;}
	.nav a:hover,.nav .active{ border: 0;}
}

/*底部*/
#footer{ width: 100%;  background: #4a525e; position: absolute;bottom: 0;}
.footer_inner{ height: 100%; padding: 40px 0; background: #4a525e;}
.footer_logo{ padding: 0 0 0 0.9em ;}
.footer_nav{ list-style: none; margin: 14px 40px 0 0;}
.footer_nav li{ float: left;}
.footer_nav li a{ display: block; font: 14px/30px microsoft yahei; color: #81868f; text-decoration: none; margin: 0 13px;}
.footer_nav li a:hover{ color: #e8e8e8;}
.footer_nav li a:active{ color: #2e3643;}
.footer_nav li .btnBuy{ width: 86px; height: 30px; background: url(../img/btn_footer_buy.png); text-align: center;}
.footer_nav li .btnBuy:hover{ background-position: 0 -30px;}
.footer_nav li .btnBuy:active{ background-position: 0 -60px;}

@media all and (max-width: 1440px){
	.footer_inner{ padding: 20px 0;}
}
@media all and (max-width: 960px){
	.footer_inner{ padding: 12px 0;}
	.footer_logo{ padding: 0; margin: 0; float: none; text-align: center; transform:scale(0.7);}

	.footer_nav{  margin: 10px 0 0 0; width: 100%;  text-align: center;}
	.footer_nav li{ float: none; display: inline-block;}
	.footer_nav li a{ display: inline-block; font: 14px/30px microsoft yahei; margin: 0 10px;}
}
@media all and (max-width: 320px){
	.footer_inner{ padding: 4px 0 6px 0;}
	.footer_logo{ transform:scale(0.6);}
	.footer_nav{  margin: 0;}
}
