/*首页样式*/
.pageW{width:1280px; height: 100%;}
.section{overflow: hidden;}
.index_font01{ font: 1.4em/1.75em 'microsoft yahei'; color: #666}
.index_t1{font:44px/50px microsoft yahei; color:#555;}
.index_t2{font:22px/38px microsoft yahei; color:#666; margin-top: 27px;}
.br{display: none;}
.fp-controlArrow{ width: 70px !important; height: 100px !important; background-color: rgba(0,0,0,.2); background-position: center center; background-repeat: no-repeat; position: absolute; top: 50%; margin-top: -50px; z-index: 999999999999 !important; border: 0 !important;}
	.fp-prev{ left: 50px !important; background-image: url(../img/index_pic07_ico2.png)}
	.fp-next{ right: 50px !important; background-image: url(../img/index_pic07_ico.png)}

/*顶部banner*/
.banner_slogan{ height: 287px; position: relative; z-index: 3; text-align: center;}
.banner_logo{ width: 98px; height: 97px; background: url(../img/index_ico_logo.png);}
/*.banner_buy{ display: block; width: 230px; height: 60px; background: url(../img/index_btn01.png); font: 1.75em/60px 'microsoft yahei'; text-align: center; margin-top:1.2em; text-decoration: none; color: #fff; position: relative; z-index: 2}
.banner_buy:hover{background-position: 0 -60px;}
.banner_buy:active{background-position: 0 -120px;}*/

.banner_t1{font:50px/100px microsoft yahei; color:#35bdb2; margin:0; transform:translate(0, 60px); opacity: 0; transition:all 1s;}
.banner_t2{font:35px/72px microsoft yahei; color:#333; margin:-10px 0 0 0; transform:translate(0, 60px); opacity: 0; transition:all 1s;}
.banner_t3{font:18px/50px microsoft yahei; color:#999; margin:0; transform:translate(0, 60px); opacity: 0; transition:all 1s;}
.banner_bg_black{ width: 100%; height: 264px; background: #191818; position: absolute; bottom: 0; display: none; transform:translate(0, 60px); opacity: 0; transition:all 1s;}
.banner_bg{ position: absolute; bottom: 0; width: 100%; z-index: 2; height: 100%; background: url(../img/index_banner.jpg) bottom center no-repeat; background-size: auto; transform:translate(0, 60px); opacity: 0; transition:all 1s;}
@media all and (max-width: 1890px){
	.banner_bg{background-size: contain;}
}
@media all and (max-width: 1440px){
	.banner_logo{ margin-bottom: 0.6em;}
	.banner_t1 {font-size: 30px ; line-height:70px;}
	.banner_t2 {font-size: 21px ; line-height:50px;}
	.banner_t3 {font-size: 14px ; line-height:50px;}
	.banner_bg{ background-image: url(../img/index_banner960.jpg); background-size: 100%;}
	.banner_bg_black{ display: block;}
}
@media all and (max-width: 960px){
	#fp-nav{ display: none;}
	.banner_logo{  margin-top: 4em}
	.banner_t1 {font-size: 40px ; line-height:110px;}
	.banner_t2 {font-size: 28px ; line-height:70px;}
	.banner_t3 { display: none;}
	.banner_bg{ background-size: 130%;}
	.banner_bg_black{ display: none;}
}
@media all and (max-width: 320px){
	.banner_logo{  margin-top: 3em}
	.banner_t1 {font-size: 34px ; line-height:90px;}
	.banner_t2 {font-size: 24px ; line-height:60px;}
}

.banner_logo,
.banner_t1,
.banner_t2,
.banner_t3,
.banner_bg_black,
.banner_bg{
	-webkit-transform:translate(0, 60px);
	-ms-transform:translate(0, 60px);
	-moz-transform:translate(0, 60px);
	-o-transform:translate(0, 60px);
	transform:translate(0, 60px);

	-webkit-transition:all 1s;
	-ms-transition:all 1s;
	-moz-transition:all 1s;
	-o-transition:all 1s;
	transition:all 1s;

	opacity: 0; 
}
.animate.banner_logo,
.animate.banner_t1,
.animate.banner_t2,
.animate.banner_t3,
.animate.banner_bg_black,
.animate.banner_bg{
	-webkit-transform:translate(0, 0); 
	-ms-transform:translate(0, 0); 
	-moz-transform:translate(0, 0); 
	-o-transform:translate(0, 0); 
	transform:translate(0, 0); 

	opacity: 1;
}


/*板块1-App链接*/
.index_b1_t{ height: 118px; margin-top: 6em; text-align: center; position: relative; z-index: 2;}
.index_dlWrap{ width: 100%; height: 225px; position: relative; z-index: 2;}

.index_dlBtn{ position: absolute; width: 220px; height: 66px;font: 20px/66px Verdana, Geneva, 'microsoft yahei', sans-serif; color: #fff; text-decoration: none; top: 50%; left: 50%; margin-top: -33px; border-radius: 33px;}
.index_dlBtn span{font-size: 0.9em; vertical-align: 1px; font-family: microsoft yahei;}
.index_dlBtn_ico{ height: 100%; width: auto; margin-left: 24px; margin-right: 15px;}

.index_dlAndroid{ background: #04c50d; margin-left: -250px;}
.index_dlIphone{ background: #151515; margin-left: 30px; }
.qrCode_IOS{ position: absolute; border: 1px solid #ddd; padding-bottom: 2px; background: #fff; left: 50%; margin-left: 280px; margin-top: 10px; display: none;}
.index_dlIphone .index_dlBtn_ico{ margin-left: 28px; margin-right: 30px;}

.index_dlAndroid:hover,.index_dlIphone:hover{ background-position:0 -66px;}
.index_dlAndroid:active,.index_dlIphone:active{ background-position:0 -132px;}


.index_b1_bottom{ width: 100%; height: 500px; background: url(../img/index_pic01.jpg) bottom center no-repeat; position: absolute; bottom: 0;}
@media all and (max-width: 1440px){
	.index_b1_t{ margin-top: 4em; height: auto;}
	.index_t1{font:26px/36px microsoft yahei;}
	.index_t2{font:14px/24px microsoft yahei; margin-top: 20px;}
	.index_dlWrap{ height: 150px;}
	.index_dlBtn{ width: 168px; height: 50px;font: 18px/40px Verdana, Geneva, 'microsoft yahei', sans-serif;  margin-top: -20px; border-radius: 25px;}
	.index_dlBtn_ico{ height: 100%; width: auto; margin-left: 16px; margin-right: 6px;}
	.index_dlIphone .index_dlBtn_ico{ margin-left: 18px; margin-right: 20px;}
	.index_dlAndroid{ margin-left: -200px;}
	.index_b1_bottom{ background-size: 75%;}
}
@media all and (max-width: 960px){
	.index_b1_t{ margin-top: 3em;}
	.index_t1{font:30px/60px microsoft yahei; color:#555;}
	.index_t2{ display: none;}
	.index_b1_t .br{display: block;}
	.index_b1_t .comma{ display: none;}
	.index_dlBtn{ position: static; margin-top: 0; display: block; margin: 2em auto 0 auto;}
	.index_dlAndroid{ margin-left:auto;}
	.index_dlIphone{ margin-left:auto; }
	.index_b1_bottom{ background-size: 100%;}
}
@media all and (max-width: 320px){
	.index_t1{ font-size: 22px; line-height: 46px;}
	.index_dlBtn{  margin: 1.5em auto 0 auto;}
}
.index_b1_t .index_t1,
.index_b1_t .index_t2,
.index_b1_btn .index_dlAndroid.animate1,
.index_b1_btn .index_dlIphone.animate1,
.index_b1_bottom{
	-webkit-transform:translate(0, 60px);
	-ms-transform:translate(0, 60px);
	-moz-transform:translate(0, 60px);
	-o-transform:translate(0, 60px);
	transform:translate(0, 60px);

	-webkit-transition:all 1s;
	-ms-transition:all 1s;
	-moz-transition:all 1s;
	-o-transition:all 1s;
	transition:all 1s;

	opacity: 0; 
}
.index_b1_t .animate.index_t1,
.index_b1_t .animate.index_t2,
.index_b1_btn .animate.index_dlAndroid.animate1,
.index_b1_btn .animate.index_dlIphone.animate1,
.animate.index_b1_bottom{
	-webkit-transform:translate(0, 0); 
	-ms-transform:translate(0, 0); 
	-moz-transform:translate(0, 0); 
	-o-transform:translate(0, 0); 
	transform:translate(0, 0); 

	opacity: 1;
}
/*板块2-360全车体检*/
.index_b2_top{ padding: 7em 0 0 7em; position: relative; z-index: 2;}
.index_b2_top .b1{}
.index_b2_top .b2{ width: 744px; height: 177px; margin-left: 3.125em;}
.index_b2_bottom{ position: absolute; bottom: 0; width: 100%;}
.index_b2_list{ margin-left: 3em; width: 520px; list-style: none; padding-bottom: 1em;}
.index_b2_list li{ float: left; width: 162px; height: 180px;}
.index_b2_list i{ display: block; width: 101px; height: 101px; background-image: url(../img/index_icos.png); margin:0 auto; }
.index_b2_list .i1{}
.index_b2_list .i2{ background-position: -120px 0;}
.index_b2_list .i3{ background-position: -240px 0;}
.index_b2_list .i4{ background-position: -360px 0;}
.index_b2_list .i5{ background-position: -480px 0;}
.index_b2_list .i6{ background-position: -600px 0;}
.index_b2_list .i7{ background-position: -720px 0;}
.index_b2_list .i8{ background-position: -840px 0;}
.index_b2_list .i9{ background-position: -960px 0;}
.index_b2_list p{ text-align: center; font-family: 'microsoft yahei'; color: #666;}
.index_b2_img{ width: 511px; position: absolute; bottom: 0; right: 6.6em;}
@media all and (max-width: 1440px){
	.pageW{ max-width: 960px;}
	.index_b2_top{ padding: 3em 0 0 4em;}
	.index_b2_top .b1{ 
		-webkit-transform:scale(0.55);
		-ms-transform:scale(0.55);
		-moz-transform:scale(0.55);
		-o-transform:scale(0.55);
		transform:scale(0.55);
		margin-top: -30px;
	}
	.index_b2_top .b2{ width: 50%; height: 177px; margin-left: 0;}
	.index_b2_list{ margin:0; width: 42%; list-style: none; position: relative; bottom: 0; left: 0;}
	.index_b2_list li{ float: left; width: 33.33333%; height: auto;}
	.index_b2_list i{ display: block; width: 81px; height: 81px; background-image: url(../img/index_icos960.png); margin:0 auto; }
	.index_b2_img{ width: 42%; height: auto; position: absolute; bottom: 0; right: 1em;}
}
@media all and (max-width: 960px){
	.pageW{ max-width: 100%;}
	.index_b2_top{ padding: 0.5em 0 0 0; height: auto;}
	.index_b2_top .b1{
		-webkit-transform:scale(0.55);
		-ms-transform:scale(0.55);
		-moz-transform:scale(0.55);
		-o-transform:scale(0.55);
		transform:scale(0.55); 
		margin: 0 auto; 
		display: block; 
		float: none;
	}
	.index_b2_top .b2{ height: auto; text-align: center; width: 100%;}
	.index_b2_top .b2 .index_t1{ font-size: 26px; line-height: 40px; margin-top: -5px;}
	.index_b2_top .b2 .index_t2{ display: none;}
	.index_b2_bottom{ position: static; width: 100%;}
	.index_b2_list{ margin:0 auto; width: 80%; position: static; padding: 1.5em 10% 0 10%;}
	.index_b2_list li{ float: left; width: 33.33333%; height: auto;}
	.index_b2_list i{ display: block; width: 81px; height: 81px; background-image: url(../img/index_icos960.png); margin:0 auto; }
	.index_b2_list p{ margin:0; margin: 0.2em 0 0.7em;  text-align: center; font-family: 'microsoft yahei'; color: #666;}
	.index_b2_img{ display:none;}
	.fp-controlArrow{ width: 40px !important; height: 70px !important; background-color: rgba(0,0,0,.1);  margin-top: -35px;}
	.fp-prev{ left: 0 !important;}
	.fp-next{ right: 0 !important;}
}
@media all and (max-width: 320px){
	.index_b2_top{ padding: 0;}
	.index_b2_top .b2 .index_t1{ font-size: 22px; line-height: 37px; margin-top: -26px;}
	.index_b2_list{ width: 86%; padding: 1em 7% 0 7%; margin-top: -12px;}
	.index_b2_list li{ margin-top: -6px;}
	.index_b2_list i{ 
		-webkit-transform:scale(0.6);
		-ms-transform:scale(0.6);
		-moz-transform:scale(0.6);
		-o-transform:scale(0.6);
		transform:scale(0.6);
	}
	.index_b2_list p{ font-size: 12px; margin:0.2em 0; margin-top: -6px;}
}

.index_b2_top .index_t1,
.index_b2_top .index_t2,
.index_b2_img{
	-webkit-transform:translate(0, 60px);
	-ms-transform:translate(0, 60px);
	-moz-transform:translate(0, 60px);
	-o-transform:translate(0, 60px);
	transform:translate(0, 60px);

	-webkit-transition:all 1s;
	-ms-transition:all 1s;
	-moz-transition:all 1s;
	-o-transition:all 1s;
	transition:all 1s;

	opacity: 0; 
}
.index_b2_bottom .i1,
.index_b2_bottom .i2,
.index_b2_bottom .i3,
.index_b2_bottom .i4,
.index_b2_bottom .i5,
.index_b2_bottom .i6,
.index_b2_bottom .i7,
.index_b2_bottom .i8,
.index_b2_bottom .i9{
	
	-webkit-transform:scale(0);
	-ms-transform:scale(0);
	-moz-transform:scale(0);
	-o-transform:scale(0);
	transform:scale(0);

	-webkit-transition:all 1s;
	-ms-transition:all 1s;
	-moz-transition:all 1s;
	-o-transition:all 1s;
	transition:all 1s;
}

.index_b2_top .animate.index_t1,
.index_b2_top .animate.index_t2,
.animate.index_b2_img{
	-webkit-transform:translate(0, 0); 
	-ms-transform:translate(0, 0); 
	-moz-transform:translate(0, 0); 
	-o-transform:translate(0, 0); 
	transform:translate(0, 0); 

	opacity: 1;
}
.index_b2_bottom .animate.i1,
.index_b2_bottom .animate.i2,
.index_b2_bottom .animate.i3,
.index_b2_bottom .animate.i4,
.index_b2_bottom .animate.i5,
.index_b2_bottom .animate.i6,
.index_b2_bottom .animate.i7,
.index_b2_bottom .animate.i8,
.index_b2_bottom .animate.i9{
	-webkit-transform:scale(1);
	-ms-transform:scale(1);
	-moz-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}
@media all and (max-width: 320px){
	.index_b2_bottom .animate.i1,
	.index_b2_bottom .animate.i2,
	.index_b2_bottom .animate.i3,
	.index_b2_bottom .animate.i4,
	.index_b2_bottom .animate.i5,
	.index_b2_bottom .animate.i6,
	.index_b2_bottom .animate.i7,
	.index_b2_bottom .animate.i8,
	.index_b2_bottom .animate.i9{
		-webkit-transform:scale(0.6);
		-ms-transform:scale(0.6);
		-moz-transform:scale(0.6);
		-o-transform:scale(0.6);
		transform:scale(0.6);
	}
}
/*板块3-油耗分析*/
.index_b3_img{ width: 45%;}
.index_b3_img img{ margin: 8.25em 0 1.2em 4.2em;}
.index_b3_right{ width: 55%;}
.index_b3_right .b1{ width: 170px; height: 170px; margin: 7.5em auto 0 auto;}
.index_b3_right .b2{ width: 630px; height: 188px; margin-top: 1.3em; padding: 0;}
.index_b3_list{ margin:0; margin-top: 4.56em; margin-left: 4em; list-style: none;}
.index_b3_list li{ float: left; width: 290px; height: 154px; overflow: hidden;}
.index_b3_list i{ display: block; width: 101px; height: 101px; background-image: url(../img/index_icos.png); margin:0 auto; float: left;}
.index_b3_list .i1{ background-position: 0 -120px;}
.index_b3_list .i2{ background-position: -120px -120px;}
.index_b3_list .i3{ background-position: -240px -120px;}
.index_b3_list .i4{ background-position: -360px -120px;}
.index_b3_list p{ text-align: center; font-family: 'microsoft yahei'; color: #666; float: left; line-height: 101px; margin:0 0 0 1.5em;}

@media all and (max-width: 1440px){
	.index_b3_img{ width: 50%;}
	.index_b3_img img{ width: 73%; margin: 4em 0 0 14%;}
	.index_b3_right{ width: 50%;}
	.index_b3_right .b1{ 
		-webkit-transform:scale(0.55);
		-ms-transform:scale(0.55);
		-moz-transform:scale(0.55);
		-o-transform:scale(0.55);
		transform:scale(0.55);
		margin: 8px auto 0 auto;
	}
	.index_b3_right .b2{ width: 80%; height: auto; margin: 0 auto; padding: 0;}
	.index_b3_list{ width: 100%; margin:1.5em auto 0 auto; list-style: none; padding: 0; }
	.index_b3_list li{ width: 50%; height: auto; margin-top: 2em;}
	.index_b3_list i{ width: 81px; height: 81px; background-image: url(../img/index_icos960.png); float: left; margin-left: 10px;}
	.index_b3_list p{ line-height: 81px; margin:0 0 0 1.5em;}
}
@media all and (max-width: 960px){
	.index_b3_img{ display: none;}
	.index_b3_right{ width: 80%; padding: 0 10%;}
	.index_b3_list li{ width: 50%; height: auto; margin-top: 2em;}
	.index_b3_list i{ float: none; margin-left: 0; margin: 0 auto; }
	.index_b3_list p{ line-height: 30px; margin:0; float: none; text-align: center;}
}
@media all and (max-width: 640px){
	.index_b3_right .b1{margin: 0 auto;}
	.index_b3_right .b2 .index_t1{ font-size: 26px; line-height: 50px; margin-top: -15px;}
	.index_b3_list li{ margin-top: 1.5em;}
	.index_b3_list{ margin-top: 0em;}
}
@media all and (max-width: 320px){
	.index_b3_right{ width: 100%; padding: 0;}
	.index_b3_right .b1{margin:-10px auto 0 auto;}
	.index_b3_right .b2 .index_t1{ font-size: 20px; line-height: 38px; margin-top: -24px;}
	.index_b3_list li{ margin-top: 1em;}
	.index_b3_list{ margin-top: -2px; width: 90%;  padding: 0 5%;}
	.index_b3_list p{ font-size: 14px; line-height: 22px; margin:0; float: none; text-align: center;}
}

/*板块4-优化驾驶行为*/
.index_b4_img{ width: 662px; height: 100%; position: absolute; bottom: 0; right: 0;}
.index_b4_img img{ position: absolute; bottom: 0; right: 0;}
.index_b4_right{ width: 618px;}
.index_b4_right .b1{ width: 170px; height: 170px; margin: 7.5em auto 0 auto;}
.index_b4_right .b2{ width: 556px; height: 190px; /*_background: url(../img/index_t04.png);*/ margin-top: 1.3em;}
.index_b4_list{ margin:0; margin-left: 30px; margin-top: 4.56em; list-style: none;}
.index_b4_list li{ float: left; width: 250px; height: 154px; overflow: hidden;}
.index_b4_list i{ display: block; width: 101px; height: 101px; background-image: url(../img/index_icos.png); margin:0 auto; float: left;}
.index_b4_list .i1{ background-position: 0 -240px;}
.index_b4_list .i2{ background-position: -120px -240px;}
.index_b4_list .i3{ background-position: -240px -240px;}
.index_b4_list .i4{ background-position: -360px -240px;}
.index_b4_list p{ text-align: center; font-family: 'microsoft yahei'; color: #666; float: left; line-height: 101px; margin:0 0 0 1.5em;}
@media all and (max-width: 1440px){
	.index_b4_img{ width: 50%;}
	.index_b4_img img{ width: 100%; margin: 0;}
	.index_b4_right{ width: 50%; position: absolute; bottom: 0; margin-bottom: 2em;}
	.index_b4_right .b1{ 
		-webkit-transform:scale(0.55);
		-ms-transform:scale(0.55);
		-moz-transform:scale(0.55);
		-o-transform:scale(0.55);
		transform:scale(0.55);
		margin: 8px auto 0 auto;
	}
	.index_b4_right .b2{ width: 80%; height: auto; margin: 0 auto; padding: 0;}
	.index_b4_list{ width: 100%; margin:1.5em auto 0 auto; list-style: none; padding: 0; }
	.index_b4_list li{ width: 50%; height: auto; margin-top: 2em;}
	.index_b4_list i{ width: 81px; height: 81px; background-image: url(../img/index_icos960.png); float: left; margin-left: 10px;}
	.index_b4_list p{ line-height: 81px; margin:0 0 0 1.5em;}
}
@media all and (max-width: 960px){
	.index_b4_img{ display: none;}
	.index_b4_right{ width: 80%; padding: 0 10%; position: static;}
	.index_b4_list li{ width: 50%; height: auto; margin-top: 2em;}
	.index_b4_list i{ float: none; margin-left: 0; margin: 0 auto; }
	.index_b4_list p{ line-height: 30px; margin:0; float: none; text-align: center;}
}
@media all and (max-width: 640px){
	.index_b4_right .b1{margin: 0 auto;}
	.index_b4_right .b2 .index_t1{ font-size: 26px; line-height: 50px; margin-top: -15px;}
	.index_b4_list li{ margin-top: 1.5em;}
	.index_b4_list{ margin-top: 0em;}
	.index_b4_right .comma{ display: none;}
	.index_b4_right .br{ display: block;}
}
@media all and (max-width: 320px){
	.index_b4_right{ width: 100%; padding: 0;}
	.index_b4_right .b1{margin:-10px auto 0 auto;}
	.index_b4_right .b2 .index_t1{ font-size: 20px; line-height: 38px; margin-top: -24px;}
	.index_b4_list li{ margin-top: 1em;}
	.index_b4_list{ margin-top: -2px; width: 90%;  padding: 0 5%;}
	.index_b4_list p{ font-size: 14px; line-height: 22px; margin:0; float: none; text-align: center;}
	.index_b4_right .comma{ display: inline;}
	.index_b4_right .br{ display: none;}
}

/*板块5-超酷便捷显示*/
.index_b5_img{ width: 55%;}
.index_b5_img img{ position: absolute; bottom: 0; left: 0;}
.index_b5_right{ width: 45%; height: 100%;}
.index_b5_right .b1{ width: 170px; height: 170px; margin: 8em 9em 0;}
.index_b5_right .b2{ position: absolute; right: 2em; width: 604px; height: 216px; margin-top: 1.5em;}
.index_b5_list{ position: absolute; top: 610px; padding: 0 ;right: 3em; list-style: none;}
.index_b5_list li{ float: left; width: 250px; height: 154px; overflow: hidden;}
.index_b5_list i{ display: block; width: 101px; height: 101px; background-image: url(../img/index_icos.png); margin:0 auto; float: left;}
.index_b5_list .i1{ background-position: 0 -360px;}
.index_b5_list .i2{ background-position: -120px -360px;}
.index_b5_list .i3{ background-position: -240px -360px;}
.index_b5_list .i4{ background-position: -360px -360px;}
.index_b5_list p{ text-align: center; font-family: 'microsoft yahei'; color: #666; float: left; line-height: 86px; margin:0 0 0 1.5em;}

@media all and (max-width: 1440px){
	.index_b5_img{ width: 50%;}
	.index_b5_img img{ width: 50%; margin: 0;}
	.index_b5_right{ width: 50%; height: auto; position: absolute; bottom: 0; right: 0; margin-bottom: 2em;}
	.index_b5_right .b1{ 
		-webkit-transform:scale(0.55);
		-ms-transform:scale(0.55);
		-moz-transform:scale(0.55);
		-o-transform:scale(0.55);
		transform:scale(0.55);
		margin: 8px auto 0 auto;
	}
	.index_b5_right .b2{ width: 80%; height: auto; margin: 0 auto; padding: 0; position: static;}
	.index_b5_list{ width: 100%; margin:1.5em auto 0 auto; list-style: none; padding: 0; position: static;}
	.index_b5_list li{ width: 50%; height: auto; margin-top: 2em;}
	.index_b5_list i{ width: 81px; height: 81px; background-image: url(../img/index_icos960.png); float: left; margin-left: 10px;}
	.index_b5_list p{ line-height: 76px; margin:0 0 0 0;}
}
@media all and (max-width: 960px){
	.index_b5_img{ display: none;}
	.index_b5_right{ width: 80%; padding: 0 10%; position: static;}
	.index_b5_list li{ width: 50%; height: auto; margin-top: 2em;}
	.index_b5_list i{ float: none; margin-left: 0; margin: 0 auto; }
	.index_b5_list p{ line-height: 30px; margin:0; float: none; text-align: center;}
}
@media all and (max-width: 640px){
	.index_b5_right .b1{margin: 0 auto;}
	.index_b5_right .b2 .index_t1{ font-size: 26px; line-height: 50px; margin-top: -15px;}
	.index_b5_list li{ margin-top: 1.5em;}
	.index_b5_list{ margin-top: 0em;}
	.index_b5_right .comma{ display: none;}
	.index_b5_right .br{ display: block;}
}
@media all and (max-width: 320px){
	.index_b5_right{ width: 100%; padding: 0;}
	.index_b5_right .b1{margin:-10px auto 0 auto;}
	.index_b5_right .b2 .index_t1{ font-size: 20px; line-height: 38px; margin-top: -24px;}
	.index_b5_list li{ margin-top: 1em;}
	.index_b5_list{ margin-top: -2px; width: 90%;  padding: 0 5%;}
	.index_b5_list p{ font-size: 14px; line-height: 22px; margin:0; float: none; text-align: center;}
	.index_b5_right .comma{ display: inline;}
	.index_b5_right .br{ display: none;}
}
/*板块6-卫士盒子*/
.index_b6{height: 930px; background: #35bdb2;}
.index_b6_left{ width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: url(../img/index_pic06_left.png) left center no-repeat;}
.index_b6_right{ width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: url(../img/index_pic06_right.png) right center no-repeat;}
.index_b6_main{ position: relative; z-index: 2; height: 100%;}
.index_b6_main .b1{ width: 1128px; height: 168px; padding-top: 75px;}
.index_b6_main .b2{ width: 1280px; height: 542px; background: url(../img/index_pic06.png); margin-top: 50px;}
.index_b6_main .b1 h2{ font: 54px/60px microsoft yahei; color: #fff; margin: 0}
.index_b6_main .b1 p{ font: 22px/40px microsoft yahei; color: #fff; margin: 1.2em 0 0 0}
.index_b6_main ul{ display: none;}
@media all and (max-width: 1440px){
	.index_b6_left{ background-image: url(../img/index_pic06_left960.png)}
	.index_b6_right{ background-image: url(../img/index_pic06_right960.png)}
	.index_b6_main .b1{ width: 100%; height: auto; padding-top: 3em;}
	.index_b6_main .b2{ width: 100%; height: 340px; background: url(../img/index_pic06_960.png) center center no-repeat; margin-top: 50px;}
	.index_b6_main .b1 h2{ font: 22px/50px microsoft yahei; color: #fff; margin: 0}
	.index_b6_main .b1 p{ font: 14px/30px microsoft yahei; color: #fff; margin: 1.2em 0 0 0}
}
@media all and (max-width: 960px){
	.index_b6_left,.index_b6_right{ display: none;}
}
@media all and (max-width: 640px){
	.index_b6_main .b1{ padding-top: 1em;}
	.index_b6_main .b1 p{ display: none;}
	.index_b6_main .b2{ width: 80%; height: 300px; background-image: url(../img/index_pic06_640.png); background-size:contain; margin: 20px 10% 0 10%;}
	.index_b6_main ul{ width: 96%; display: block; text-indent: 0; position: absolute; bottom: 2em; margin: 0 2%; padding: 0; list-style: none;}
	.index_b6_main ul li{ float: left; width: 50%; }
	.index_b6_main ul li p{background: #5dcac1; color: #fff; font: 14px/26px microsoft yahei; text-align: center; margin: 1em 0.2em 0 0.2em; border-radius: 13px;}
}
@media all and (max-width: 320px){
	.index_b6_main .b2{ height: 260px; margin: 0 10%;}
	.index_b6_main ul{ bottom: 1em;}
	.index_b6_main ul li p{background: #5dcac1; color: #fff; font: 12px/22px microsoft yahei; text-align: center; margin: 1em 0.2em 0 0.2em; border-radius: 11px;}
}
/*板块7-汽车和手机*/
.index_b7{ width: 100%; height: auto; margin-top: 6em;}
.index_b7_step{ list-style: none; margin: 0; padding: 0; margin-top: 3em;}
.index_b7_step li{ float: left; font: 28px microsoft yahei; color: #333; text-align: center; overflow: hidden;}
.index_b7_step li p{ color: #0299fd; margin: 1.2em 0 0 0;}
.index_b7_step .b1,.index_b7_step .b5{ width: 25%;}
.index_b7_step .b2,.index_b7_step .b4{ width: 7.5%;}
.index_b7_step .b3{ width: 35%;}
.index_b7_step div{ width: 100%; height: 391px; background-position: center; background-repeat: no-repeat;}
.index_b7_step .b1_pic{ background-image: url(../img/index_pic07_b1.jpg)}
.index_b7_step .b2_pic{ background-image: url(../img/index_pic07_ico.jpg)}
.index_b7_step .b3_pic{ background-image: url(../img/index_pic07_b2.jpg)}
.index_b7_step .b4_pic{ background-image: url(../img/index_pic07_ico.jpg)}
.index_b7_step .b5_pic{ background-image: url(../img/index_pic07_b3.jpg)}
.index_b7_btn{ height: 180px;}
@media all and (max-width: 1440px){
	.index_b7{ margin-top: 3em;}
	.index_b7_step{ list-style: none; margin: 0; padding: 0; margin-top: 1em;}
	.index_b7_step div{ height: 336px;}
	.index_b7_step .b1,.index_b7_step .b5{ width: 20%;}
	.index_b7_step .b2,.index_b7_step .b4{ width: 15%;}
	.index_b7_step .b3{ width: 30%;}
	.index_b7_step .b1_pic{ background-size: contain;}
	.index_b7_step .b3_pic{ background-size: contain;}
	.index_b7_step .b5_pic{ background-size: contain;}
	.index_b7_step li{ font: 20px microsoft yahei;}
	.index_b7_step li p{ margin: 0 0 0 0;}
	.index_b7_btn{ height: 100px;}
}
@media all and (max-width: 960px){
	.index_b7{ margin-top: 1em;}
	.index_b7 .index_t1{ font-size: 22px;}
	.index_b7_step li{ height: 800px; font-size: 14px; }
	.index_b7_step div{}
	.index_b7_step .b1_pic,
	.index_b7_step .b3_pic,
	.index_b7_step .b5_pic{  width: 50px; height: 50px; margin-right: 8px; display: inline-block;vertical-align: -20px;}
	.index_b7_step .b2_pic,
	.index_b7_step .b4_pic{ background:url(../img/index_pic07_icoDown.jpg) center center no-repeat;  height: 50px;}
	.index_b7_step .b1,
	.index_b7_step .b2,
	.index_b7_step .b3,
	.index_b7_step .b4,
	.index_b7_step .b5{ width: 100%; margin: 0; height: auto;float: none;}
	.index_b7_step .br{ display: none;}
	.index_b7_step li p{ display: none;}
	
}
@media all and (max-width: 320px){
	.index_b7{ margin-top: 0.5em;}
	.index_b7 .index_t1{ font-size: 18px;}
	.index_b7_step .b2_pic,
	.index_b7_step .b4_pic{ height: 40px; transform:scale(0.8);}
	.index_b7_step .b1_pic,
	.index_b7_step .b3_pic,
	.index_b7_step .b5_pic{  width: 40px; height: 40px; margin-right: 8px; margin-left: 8%; display: inline-block;vertical-align: -15px;}
	.index_b7_btn .index_dlBtn{ margin: 1em auto; }
}

/*板块8-听听用户的心声*/
.index_b8{ height: 862px; background: #f1f4f7;}
.index_b8_inner{ height: 100%; background: #f1f4f7;}
.index_b8_tit{ height: 50px; padding: 60px 0 0 0; margin: 0;}
.index_b8_list{ width: 94%; list-style: none; padding-left: 0; margin-top: 6em;}
.index_b8_list li{ width: 33.333%; float: left;}
.index_b8_list li img{ display: block; margin: 0 auto; }
.index_b8_list li h3{ font: 1.5em/3em 'microsoft yahei'; color: #555; text-align: center; margin: 0;}
.index_b8_list li h3 em{ font-size: 1.25em; margin-right: .5em; font-style: normal;}
.index_b8_list li .p1{ font: 0.875em 'microsoft yahei'; color: #8695ab; text-align: center; margin: 0; }
.index_b8_list li .p2{ width: 90%; background: #35bdb2;  margin-top: 1em; position: relative; border-radius: 28px; min-height: 200px;}
.index_b8_list li .p2 p{ padding: 1em 1.2em; font: 1.125em/1.7em 'microsoft yahei'; color: #fff; position: relative; z-index: 2;}
.index_b8_list .btn{ display: none;}
@media all and (max-width: 1440px){
	.index_b8_tit{ height: 40px; padding: 40px 0 0 0;}
	.index_b8_list{ margin-top: 3em;}
	.index_b8_list li img{ width: 110px; height: auto; }
	.index_b8_list li h3{ font: 1.2em/3em 'microsoft yahei';}
	.index_b8_list li h3 em{ font-size: 1.2em; margin-right: .5em;}
	.index_b8_list li .p2{ width: 86%; background: #35bdb2;  margin-top: 2em; margin: 0 auto;}
	.index_b8_list li .p2 p{ padding: 1em 1.5em; font: 14px/26px 'microsoft yahei';}
}
@media all and (max-width: 960px){
	.index_b8_tit{ height: 10%; width: 100%; }
	.index_b8_list{ height: 90%; width: 100%; margin: 0; position: relative;}
	.index_b8_list li{ width: 100%; position: absolute; top: 0; left: 0;}
	.index_b8_list li img{ width: 60px; height: auto;  margin-top: 20px;}
	.index_b8_list li h3{ display: none;  font: 14px/34px 'microsoft yahei'; white-space:nowrap; }
	.index_b8_list li h3 em{ font: 14px/34px 'microsoft yahei';}
	.index_b8_list li .p1{ display: none;}
	.index_b8_list li .p2{ display: none;}
	.index_b8_list .btn{ display: block; width: 33%; height: 100%; position: absolute; z-index: 10;}
	.index_b8_list .btn1{ left: 0;}
	.index_b8_list .btn2{ left: 33%;}
	.index_b8_list .btn3{ left: 66%;}
	.index_b8_list .bb{ width: 33%; padding-top: 1em;}
	.index_b8_list .b1{ margin-left: 0;}
	.index_b8_list .b2{ margin-left: 33%;}
	.index_b8_list .b3{ margin-left: 66%;}
	
	.index_b8_list .current{ position: relative; z-index: 2;}
	.index_b8_list .current img{ width: 100px; margin-top: 0;}
	.index_b8_list .current h3{ display: block;}
	.index_b8_list .current .p2{ display: block;}
	
}
@media all and (max-width: 320px){
	.index_b8_tit{ height: 7%; padding-top: 10px; font-size: 18px;}
	.index_b8_list{ height: 93%;}
	.index_b8_list li img{ width: 50px; height: auto;  margin-top: 15px;}
	.index_b8_list li h3{ display: none;  font: 12px/28px 'microsoft yahei'; }
	.index_b8_list li h3 em{ font: 12px/28px 'microsoft yahei';}
	.index_b8_list .bb{ width: 33%; padding-top: 0.8em;}
	.index_b8_list .b1{ margin-left: 0;}
	.index_b8_list .b2{ margin-left: 33%;}
	.index_b8_list .b3{ margin-left: 66%;}
	.index_b8_list .current img{ width: 75px; margin-top: 0;}
	.index_b8_list .current h3{ display: block;}
	.index_b8_list .current .p2{ display: block; font: 12px/20px microsoft yahei; margin-top: 0.5em;}
	.index_b8_list .current .p2 p{ margin: 0;}
	
}

/*板块9-满满安全感*/
.index_b9_tit{ height: 50px; padding: 70px 0 0 0; margin: 0;}
.index_b9_list{ width: 96%; height: auto; margin:130px auto 0 auto; position: relative;}
.index_b9_list .bb{ width: 32%; height: 600px; border: 1px solid #e0e0e0; box-shadow: 0 0 12px #e5e5e5; position: relative; background: #fff;}
.index_b9_list .tit{ width: 100%; height: 150px;}
.index_b9_list .tit h3{ font:26px/80px microsoft yahei; color: #fff; text-align: center; margin: 0;}
.index_b9_list .b1{ position: absolute; left: 0; top: 0;}
.index_b9_list .b2{ margin: 0 auto; position: relative;}
.index_b9_list .b3{ position: absolute; right: 0; top: 0;}
.index_b9_list .b1 .tit{ background: #0299fd;}
.index_b9_list .b2 .tit{ background: #44d8cc;}
.index_b9_list .b3 .tit{ background: #8b2ce4;}
.index_b9_list .price{ width: 183px; height: 183px; border-radius: 50%; margin: -70px auto 0 auto; text-align: center; color: #fff; font: 68px/183px microsoft yahei;}
.index_b9_list .price i{ font-size: 45px; font-style: normal;}
.index_b9_list .b1 .price{ background: #1877e1;}
.index_b9_list .b2 .price{ background: #00cbb5;}
.index_b9_list .b3 .price{ background: #6a16b9;}
.index_b9_list .list{ width: 165px; margin: 24px auto 0 auto; list-style: none; padding: 0;}
.index_b9_list .list li{font: 1.125em/2em 'microsoft yahei'; text-indent: 2.375em; background: url(../img/index_ico.png) left 0.6em no-repeat; color: #555e64;}
.index_b9_list .btn{ width: 246px; height: 80px; border-radius: 40px; text-align: center; font: 26px/80px microsoft yahei; color: #fff; position: absolute; bottom: 44px; left: 50%; margin-left: -123px;}
.index_b9_list .btnWait{ background: #d7d7d7; cursor: default;}

.index_b9_list .current.bb{ width: 40%; height: 666px; top: -42px; z-index: 2;}
.index_b9_list .current .tit{ height: 180px;}
.index_b9_list .current .tit h3{ font:30px/80px microsoft yahei;}
.index_b9_list .current .price{ width: 216px; height: 216px;  margin: -106px auto 0 auto; font: 75px/216px microsoft yahei;}
.index_b9_list .current .price i{ font-size: 50px;}
.index_b9_list .current .list{ width: 205px; margin: 30px auto 0 auto; list-style: none; padding: 0;}
.index_b9_list .current .list li{font: 1.2em/2em 'microsoft yahei'; text-indent: 2.5em; background: url(../img/index_ico2.png) left 0.6em no-repeat;}
@media all and (max-width: 1440px){
	.index_b9_tit{ height: 50px; padding: 40px 0 0 0; margin: 0;}
	.index_b9_list{ width: 96%; height: auto; margin:70px auto 0 auto; position: relative;}
	.index_b9_list .bb{ width: 32%; height: 442px;}
	.index_b9_list .tit{ height: 108px;}
	.index_b9_list .tit h3{ font:12px/58px microsoft yahei;}
	.index_b9_list .price{ width: 134px; height: 134px;  margin: -50px auto 0 auto; font: 48px/134px microsoft yahei;}
	.index_b9_list .price i{ font-size: 26px;}
	.index_b9_list .list{ width: 127px; margin: 18px auto 0 auto;}
	.index_b9_list .list li{font: 12px/36px 'microsoft yahei'; text-indent: 27px; background: url(../img/index_ico3.png) left 0.7em no-repeat;}
	.index_b9_list .b3 .list li{font: 12px/30px 'microsoft yahei';}
	.index_b9_list .btn{ width: 140px; height: 40px; border-radius: 20px; font: 12px/40px microsoft yahei;  bottom: 26px; left: 50%; margin-left: -70px;}

	.index_b9_list .current.bb{ width: 40%; height: 490px; top: -33px; z-index: 2;}
	.index_b9_list .current .tit{ height: 132px;}
	.index_b9_list .current .tit h3{ font:14px/58px microsoft yahei;}
	.index_b9_list .current .price{ width: 160px; height: 160px;  margin: -77px auto 0 auto; font: 53px/160px microsoft yahei;}
	.index_b9_list .current .price i{ font-size: 28px;}
	.index_b9_list .current .list{ width: 134px; margin: 22px auto 0 auto; list-style: none; padding: 0;}
	.index_b9_list .current .list li{font: 14px/38px 'microsoft yahei'; text-indent: 2.5em; background: url(../img/index_ico.png) left 0.6em no-repeat;}
}
@media all and (max-width: 960px){
	.index_b9_tit{ height: 40px; padding: 20px 0 0 0; margin: 0;}
	.index_b9_list{ width: 96%; height: auto; margin:30px auto 0 auto; position: relative;}
	.index_b9_list .bb,.index_b9_list .current.bb{ width: 100%; height: auto; border: 1px solid #e0e0e0; box-shadow: 0 0 6px #e5e5e5; position: relative; margin-top: 1em; top: 0;}
	.index_b9_list .b1{ position: relative;}
	.index_b9_list .b2{ position: relative;}
	.index_b9_list .b3{ position: relative;}
	.index_b9_list .tit{ width: 30%; height: auto; float: left;}
	.index_b9_list .tit h3{ font:14px/80px microsoft yahei;}
	.index_b9_list .list{ display: none;}
	.index_b9_list .price{ width: 10%; height: 10%;  border-radius:50%; margin: 2% 10%; font: 14px/30px microsoft yahei; position: relative; left: 0; bottom: 0}
	.index_b9_list .price i{ font-size: 12px; }
	.index_b9_list .btn{ width: 246px; height: 80px; float: left; border-radius: 40px; text-align: center; font: 26px/80px microsoft yahei; color: #fff; position:  static;  margin: 0;}
}
/*板块10-告诉小伙伴们*/
