/*屏幕宽度等于视口*/
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/*reset*/
html, button, input, select, textarea {color: #333; }
html {font-size: 1em; line-height: 1.4; }
::-moz-selection {background: #b3d4fc; text-shadow: none; }
::selection {background: #b3d4fc; text-shadow: none; }
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
audio, canvas, img, video {vertical-align: middle; }
fieldset {border: 0; margin: 0; padding: 0; }
textarea {resize: vertical; } .ir {background-color: transparent; border: 0; overflow: hidden; *text-indent: -9999px; }
input,button,select,textarea,a{outline:none;} 
input:focus,button:focus,select:focus,textarea:focus,a:focus{outline:none;}
/*body{ width: 100%; overflow: hidden;}*/

/*oo*/
.ir:before {content: ""; display: block; width: 0; height: 150%; }
.hidden {display: none;}
.invisible {visibility: hidden; }
.clearfix:before,.clearfix:after {content: " "; display: table; }
.clearfix:after {clear: both; }
.clearfix {*zoom: 1; }
.border_b{ border-bottom: 1px solid #e5e5e5;}
.bc{margin-left: auto; margin-right: auto;}
.cb{clear: both;}
.hideText{ text-indent: -9000em;}
.absolute{ position: absolute;}
.relative{ position: relative;}
.imgBlock{ display: block; margin: 0; padding: 0;}
.fl{float: left;}
.fr{float: right;}
.noPadding{padding: 0;}
.noMargin{margin: 0;}
.tc{text-align: center;}
.wrap100{width: 100%;}
.pageW{width:1280px; height: 100%;}
.mt40{ margin-top: 40px;}
.mt30{ margin-top: 30px;}
.mt20{ margin-top: 20px;}
/*_width:expression((document.documentElement.clientWidth||document.body.clientWidth)<1280?"1280":"");overflow:hidden;*/

/*头部*/
#header{ width: 100%; height: 60px; position: relative; z-index: 100;}
.nav{ position: absolute; right: 16%; top: 0;}
.nav a{ display: inline-block; border-top: 4px solid #fff; padding: 0 12px; font:14px/3em microsoft yahei; color: #888; text-decoration: none; transition:border .3s;}
.nav a:hover,.nav .active{ border-top: 4px solid #23d4c6; transition:border .3s;}
.nav_logo{ display: none;}

@media all and (max-width: 720px){
	/*#header{ width: 0; height: 100%; position: fixed; left: 0; top: 0; background: red;
		-webkit-transition: left .6s;
		-moz-transition: left .6s;
		-ms-transition: left .6s;
		-o-transition: left .6s;
		transition: left .6s;
	}
	#header.show{ display: block; opacity: 1; left: 200px;
		-webkit-transition: left .6s;
		-moz-transition: left .6s;
		-ms-transition: left .6s;
		-o-transition: left .6s;
		transition: left .6s;
	}*/
	#header{ width: 0; height: 100%; position: fixed; left: 0; top: 0; background: red;
		-webkit-transform:translate(0,0);
		-webkit-transition: transform .6s;
		transform:translate(0,0);
		transition: transform .6s;
	}
	#header.show{ display: block; opacity: 1;
		-webkit-transform:translate(200px);
		-webkit-transition: transform .6s;
		transform:translate(200px);
		transition: transform .6s;
	}

	.nav_btn{ width: 24px; position: absolute; z-index: 10000; cursor: pointer; padding: 14px 5px 5px 14px; /*padding: 6px 6px 2px 6px; margin: 10px 0 0 10px; background: rgba(255,255,255,.6); border-radius: 3px;*/}
	.nav_btn i{ display: block; width: 100%; height: 3px; margin-bottom: 4px; background: #35bdb2;}
	#nav_btnMask{ width: 100%; height: 100%; position: absolute; top: 0; left: 0;}
	.nav{ position: absolute; width: 200px; height: 100%;  left: -200px; top: 0; background: #3fc6bb; background: #35bdb2; padding:0;}

	.nav_logo{ width: 166px; height: 52px; display: block; margin: 0 auto; padding: 22px 0;}
	
	.nav a{ display: block; border: 0 !important; height: auto; padding: 5px 8px 5px 12px; color: #fff; font: 14px/2.2em microsoft yahei;}
	.nav a:hover,.nav .active{ background: #3bcdc1;}

	
	/*#pageWrap{left: 0; position: relative;
		-webkit-transition: left .6s;
		-moz-transition: left .6s;
		-ms-transition: left .6s;
		-o-transition: left .6s;
		transition: left .6s;
	}
	#pageWrap.show{left: 200px;
		-webkit-transition: left .6s;
		-moz-transition: left .6s;
		-ms-transition: left .6s;
		-o-transition: left .6s;
		transition: left .6s;
	}*/
	#pageWrap{
		-webkit-transform:translateX(0);
		-webkit-transition: transform .6s;
		transform:translateX(0);
		transition: transform .6s;
	}
	#pageWrap.show{
		-webkit-transform:translateX(200px);
		-webkit-transition: transform .6s;
		transform:translateX(200px);
		transition: transform .6s;
	}
}

/*底部*/
#footer{ width: 100%;  background: #4a525e;  }
.footer_inner{ height: 100%; padding: 40px 0; background: #4a525e;}
.footer_logo{ padding: 0 0 0 0.9em ; float: left;}
.footer_nav{ list-style: none; margin: 14px 40px 0 0; float: right;}
.footer_nav li{ float: left;}
.footer_nav li a{ display: block; font: 14px/30px microsoft yahei; color: #81868f; text-decoration: none; margin: 0 13px;}
.footer_nav li a:hover{ color: #e8e8e8;}
.footer_nav li a:active{ color: #2e3643;}
.footer_nav li .btnBuy{ width: 86px; height: 30px; background: url(../img/btn_footer_buy.png); text-align: center;}
.footer_nav li .btnBuy:hover{ background-position: 0 -30px;}
.footer_nav li .btnBuy:active{ background-position: 0 -60px;}

@media all and (max-width: 1440px){
	.pageW{ max-width: 960px;}
	.footer_inner{ padding: 20px 0;}
}
@media all and (max-width: 960px){
	.pageW{ max-width: 720px;}
	/*.footer_inner{ padding: 12px 0;}
	.footer_logo{ padding: 0; margin: 0; float: none; text-align: center; transform:scale(0.7);}

	.footer_nav{  margin: 10px 0 0 0; width: 100%;  text-align: center;}
	.footer_nav li{ float: none; display: inline-block;}
	.footer_nav li a{ display: inline-block; font: 14px/30px microsoft yahei; margin: 0 10px;}*/
}
@media all and (max-width: 720px){
	.pageW{ width: 100%;}
	.footer_logo{  float: none; padding:5% 0 5% 5.14%;}
	.footer_nav{ float: none; margin: 0; padding:0;}
	.footer_nav li{ float: none; display: block; border-bottom: 1px solid #3e454f;}
	.footer_inner{ padding: 0;}
	.footer_nav li a{ line-height: 48px; margin-left: 5.14%;}
}
/*@media all and (max-width: 320px){
	.footer_inner{ padding: 4px 0 6px 0;}
	.footer_logo{ transform:scale(0.6);}
	.footer_nav{  margin: 0;}
}*/

.header_pc{ opacity: 1; transition:all .4s;}
.header_pcHide{opacity: 0;}
.footer_pc{position: absolute; bottom: -100px; opacity: 0; transition:all .4s}
.footer_pcShow{bottom: 0px; opacity: 1;}
.fullpage_pc{margin-top:-60px;}