/* CSS Document */
body {
	font-family: Microsoft Yahei;
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 0.7em;
}
/*.bc{margin-left: auto; margin-right: auto;}*/
#content {
	margin: 0 auto;
	width: 100%;
	max-width: 720px;
	text-align: center;
	line-height: 2.3em
}
.cf:after,.cf:before{content: ''; display: table;}
.cf:after{clear: both;}
.cf{ *zoom:1;}
.fl{float: left;}
.block{ width: 100%; position: relative;}
.block_line{ border-bottom:2px solid #d9d9d9;}
.block_img{vertical-align: bottom; display: block; width: 100%;}
.btn{ margin-left: 8%; margin-right: 8%; width: 84%; display: block; border-radius: 3px; text-align: center; text-decoration: none; padding: 0.6em 0; font-size: 1.5em;}
.btn2{ margin-left: 18%; margin-right: 18%; width: 64%; display: block; border-radius: 3px; text-align: center; text-decoration: none; padding: 0.6em 0; font-size: 1.5em;}
.btn_normal{ background: #31c5b9; color: #fff;}
/*.imgNoPadding {
	vertical-align: bottom;
	display: block
}
.co1 {
	font-size: 1.6em;
	color: #999999;
}
.co2 {
	margin: 0.5em 0;
}
.maxImg720 {
	max-width: 720px;
}
.buttonT {
	text-decoration: none;
	border-radius: 3px;
	background-color: #35BDB2;
	display: block;
	width: 80%;
	margin: 0.7em auto;
	color: white;
    font-size: 1.4em;
    padding: 0.5em 0;
}
ul{list-style: none;margin: 0}
.yt {
	font-size: 1.4em;
	text-align: left;
	width: 90%;
	margin: 0 auto;
	line-height: 1.5em;
}
.font1_4 {font-size: 1.4em;}
.gray{ color:#999ca1}
.blue{
    color: #35BDB2;
}
.while{ color: #ffffff}
.buttonGray {
    text-decoration: none;
    border-radius: 3px;
    background-color: #DDE1E3;
    display: block;
    width: 80%;
    margin: 0.7em auto;
    color: white;
    font-size: 1.4em;
    padding: 0.5em 0;
}*/
