/* CSS Document */
body {
	font-family: Microsoft Yahei;
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 0.8em;
}
#content {
	margin: 0 auto;
	width: 100%;
	max-width: 720px;
	text-align: center;
	line-height: 2.3em
}
.cf:after,.cf:before{content: ''; display: table;}
.cf:after{clear: both;}
.cf{ *zoom:1;}
.fl{float: left;}
.block{ width: 100%; position: relative;}
.block_line{ border-bottom:2px solid #d9d9d9;}
.block_img{vertical-align: bottom; display: block; width: 100%;}
.btn{ margin-left: 8%; margin-right: 8%; width: 84%; display: block; border-radius: 3px; text-align: center; text-decoration: none; padding: 0.6em 0; font-size: 1.5em;}
.btn2{ margin-left: 18%; margin-right: 18%; width: 64%; display: block; border-radius: 3px; text-align: center; text-decoration: none; padding: 0.6em 0; font-size: 1.5em;}
.btn_normal{ background: #31c5b9; color: #fff;}